<!-- views/partials/_header.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <% if (user) { %>
    	<p>Logged in as: <%= user.email %></p>
      <form action="/logout" method="POST">
      <input type="submit" value="Logout">
    <% } else{ %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <% } %>
  </body>
</html>

