<!-- views/urls_show.ejs -->

<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body>
<%- include('partials/_header.ejs') %>
<h1>A Single Tiny URL</h1>

<p><%= shortURL %> : <%= longURL %><p>



</body>
</html>