<!-- views/urls_index.ejs -->

<html lang='en'>
<head>
  <title>TinyApp</title>
</head>
<body>
<%- include('partials/_header.ejs') %>
<h1>Tiny URL List</h1>

<ul>
  <% Object.keys(urls).forEach(key => { %>
    <li>
        <%= key %>: <%= urls[key] %> 
        <form method="POST" action="/urls/<%= key %>/delete">
          <input type="submit" value="Delete">
        </form>
    </li>
  <% }); %>
</ul>

<a href="empty">Make a New Tiny URL</a>


</body>
</html>
