<!-- views/user_error.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <h3>You must be logged in to the view the page.</h3>
    <p>Have an account?</p><a href="/login">Click here to Login</a>
    <p>New to TinyApp?</p><a href="/register">Click here to Register</a>
  </body>
</html>