<!-- views/user_login.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <h1> Login: </h1>
    <form action="/login" method="POST">
      <label for="email">Email:</label>
      <input id="email" type="email" name="email" placeholder="enter your email" style="width: 300px">
      <div>
      <label for="password">Password:</label>
      <input id="password" type="text" name="password" placeholder="enter your password" style="width: 300px">
      <input type="submit" value="Login">
      </div>
    </form>
  </body>
</html>